* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

// global variables
:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

// styling header
header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
}

// targeting the links
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    display: none;
    transform: translateY(-100%) scale(0); //want it to be offscreen by default
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

//targeting section 1
.sect1 {
    display: none; // want display none so you can switch between sections
    transform: translateY(0) scale(1); // animation coming in offscreen, scalling all the way 1
}

.sect3 {
    display: none;
    transform: translateY(0) scale(1); 
}

.sect4 {
    display: none;
    transform: translateY(0) scale(1); 
}

.sect5 {
    display: none;
    transform: translateY(0) scale(1); 
}

// controls: we want them fixed & on the right hand side
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%; //3% of space from the right side
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    .control {
        padding: 1rem; // spacing around it
        cursor: pointer;
        background-color: var(--color-grey-4);
        //make them rounded
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex; //center items
        align-items: center;
        justify-content: center;
        margin: .7rem 0;
        box-sizing: var(--box-shadow-1);
    }
}